<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Juego</title>
</head>
<body>
    <h1>Añadir Juego</h1>
    <form action="{{ url_for('add_game') }}" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required>
        <br>
        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio" required>
        <br>
        <label for="categoria">Categoría:</label>
        <input type="text" name="categoria" id="categoria" required>
        <br>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" required></textarea>
        <br>
        <label for="imagen">Imagen:</label>
        <input type="file" name="imagen" id="imagen" required>
        <br>
        <button type="submit">Añadir Juego</button>
    </form>
</body>
</html>
